<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.abc.explore.entity.dao.RepositorieDao">

    <resultMap id="RepositorieMap" type="net.abc.explore.entity.Repositorie">
        <id property="id" column="id"/>
        <result property="languageCode" column="language_code"/>
        <result property="owner" column="owner"/>
        <result property="name" column="name"/>
        <result property="describe" column="describe"/>
        <result property="firstExploreTime" column="first_explore_time"/>
        <result property="lastExploreTime" column="last_explore_time"/>
    </resultMap>

    <insert id="add" keyProperty="id" useGeneratedKeys="true" parameterType="net.abc.explore.entity.Repositorie">
        insert into repositorie
            (
                language_code, owner, `name`, `describe`, first_explore_time, last_explore_time
            )
        values
            (
                #{languageCode}, #{owner}, #{name}, #{describe}, #{firstExploreTime}, #{lastExploreTime}
            )
    </insert>

    <update id="update" parameterType="net.abc.explore.entity.Repositorie">
        update repositorie
            <set>
                <if test="describe != null">
                    `describe` = #{describe},
                </if>
                <if test="lastExploreTime != null">
                    `last_explore_time` = #{lastExploreTime},
                </if>
            </set>
        where id = #{id}
    </update>

    <select id="getRepositorie" resultMap="RepositorieMap">
        select
              id, language_code, owner, `name`, `describe`, first_explore_time, last_explore_time
        from repositorie
        <where>
            <if test="id != null">
                id = #{id}
            </if>
            <if test="owner != null">
                and owner = #{owner}
            </if>
            <if test="name != null">
                and `name` = #{name}
            </if>
        </where>
    </select>
</mapper>